<div class="container profile">
  <div class="section profile-heading">
    <div class="columns">
      <div class="column is-2">
        <% if current_user.image.blank? %>
          <figure class="image is-128x128">
            <%= image_tag("128x128.png", class: "is-rounded") %>
          </figure>
        <% else %>
          <figure class="image is-128x128">
            <%= image_tag current_user.image + "?type=large", class: "is-rounded"%>
          </figure>
        <% end %>
      </div>

      <div class="column is-4 name">
        <p>
          <span class="title is-bold"><%= current_user.username.capitalize %></span>
        </p>
        <p class="tagline">A VENIR : Votre mini-bio sera ici qui tiendra sur deux lignes uniquement.</p>
      </div>

      <div class="column is-2 followers has-text-centered">
        <p class="stat-val"><%= current_user.posts.count %></p>
        <p class="stat-key">Musiques partagées</p>
      </div>

      <div class="column is-2 following has-text-centered">
        <p class="stat-val">0</p>
        <p class="stat-key">Articles écrit</p>
      </div>

      <div class="column is-2 likes has-text-centered">
        <p class="stat-val">0</p>
        <p class="stat-key">likes</p>
      </div>

    </div>
  </div>
</div>

<div class="spacer"></div>

<%= render "profiletabs" %>



