<% if user_signed_in? %>


  <%= render "homepages/connectedindex" %>

<% else %>

  <section id="kyodai-landing"class="hero is-fullheight">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <figure class="avatar">
          <%= image_tag("favicon.png", height: '100', width: '100')%>
        </figure>

        <div class="title has-text-white">
          KYÔDAÏ
        </div>

        <div class="subtitle has-text-white">
          Bienvenue<br>
          Venez découvrir ou partager des articles et des musiques !
        </div>

        <div class="column is-8 is-offset-2">
          <div class="level">
            <div class="level-item">
              <%= link_to fa_icon("connectdevelop", text:"Connexion", class:"text-muted pull-left"), new_user_session_path, class: 'button is-medium' %>
            </div>
            <div class="level-item">
              <%= link_to fa_icon("user-plus", text:"Inscription", class:"text-muted pull-left"), new_user_registration_path, class: 'button is-primary is-medium' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-foot">
      <div class="container">
        <div class="mouse-container">
          <a class="js-scrollTo" href="#page-2">
            <span class="mouse-outer">
              <span class="mouse-wheel"></span>
            </span>
          </a>
        </div>
      </div>
    </div>

  </section>

  <section id="page-2" class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered has-text-white">

        <div class="tile is-ancestor">
          <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child">
              <figure class="avatar">
                <%= image_tag("logokyo.png", height: '150', width: '150')%>
              </figure>
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile is-child">
              <p class="title has-text-white">KYÔDAÏ, qu’est-ce que c’est ?</p>
              <p>Du japonais 兄弟, qui veut dire frères et soeurs. C'est avant tout une plateforme fait par un groupe d'amis pour le groupe d'amis.</p>
              <p>Sur ce site vous pourrez partager, mais aussi découvrir des articles et des musiques provenant de la plateforme YouTube.</p>
            </div>
          </div>
        </div>

        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child">
              <p class="title has-text-white">L'Oniboso Crew</p>
              <p>Groupe formé en 2002 par 6 membres.</p>
              <p>Avant tout un groupe de danseurs hip-hop, mais aussi de monteur vidéo, monteur son et d'un caméraman.</p>
            </div>
          </div>

          <div class="tile is-parent is-4 is-vertical">
            <div class="tile is-child">
              <figure class="avatar">
                <%= image_tag("onibosologo.png", height: '150', width: '150')%>
              </figure>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

<% end %>
