<div class='form_complete'>

  <div>
    <% if @article.errors.any? %>
    <ul>
      <%= @article.errors.full_messages.each do |message| %>
      <li><%= no comprende message %></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class='form_for'>

    <%= form_for @article do |f| %>

    <div>
      <%= f.text_field :title, placeholder: "Mets ton titre ici, poto !" %>
    </div>

    <div>
      <%= f.cktext_area :body, rows: 25 %>
    </div>

    <div>
      <%= f.submit 'Créé l\'article' %>
      <%= link_to "Retour", articles_path %>
    </div>
    <% end %>

  </div>

</div>
