  <section class="section">
    <div class="container has-text-centered">
      <div class="container">

        <%= form_with(model: @article) do |f| %>
          <% if @article.errors.any? %>
            <ul>
              <%= @article.errors.full_messages.each do |message| %>
              <li><%= no comprende message %></li>
              <% end %>
            </ul>
          <% end %>
          <div>
            <%= f.text_field :title, placeholder: "Mets ton titre ici, poto !" %>
          </div>

          <div>
            <%= f.cktext_area :body, rows: 25 %>
          </div>

          <div>
            <%= f.submit "Publier l'article" %>
            <%= link_to 'Retour', articles_path, remote: true %>
          </div>
          <% end %>
        </div>

      </div>
    </div>
  </section>

