<div class="container">
  <div class="column is-8 is-offset-2">
    <%= form_with(model: @article) do |f| %>
      <% if @article.errors.any? %>
        <ul>
          <%= @article.errors.full_messages.each do |message| %>
          <li><%= no comprende message %></li>
          <% end %>
        </ul>
      <% end %>
    <div class="field">
      <div class="control">
        <%= f.text_field :title, autofocus: true, class: "input is-primary is-large", placeholder: "Mets ton titre ici, poto !" %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.cktext_area :body, rows: 25 %>
      </div>
    </div>

    <div class="level">
      <div class="level-left">
        <%= f.submit "Partager mon article", class:"button is-primary" %>
      </div>
      <div class="level-right">
        <%= link_to fa_icon("undo", text:"Retour aux articles",class:"text-muted pull-left"), articles_path, class:"button" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
