<section id="articles-banner-index" class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 has-text-centered has-text-white">LES ARTICLES</h1>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><%= link_to fa_icon("eye", text:"Mes articles", class:"text-muted pull-left"), root_path %></li></li>
          <li id="myBtn"><%= link_to fa_icon("plus-square", text:"Nouveau article", class:"text-muted pull-left"), new_article_path, remote: true %></li>

          <!-- The Modal -->
          <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <%= render 'form' %>
            </div>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <% @articles.each_slice(4) do |art| %>
    <div class="container">
      <% art.each do |article| %>
        <div class="box">
          <div class="tile is-ancestor is-centered">

            <div class="tile is-4">
              <figure class="image">
                <%= image_tag("https://via.placeholder.com/400x300") %>
              </figure>
            </div>

            <div class="tile">
              <article class="tile is-child">
                <div class="title">
                  <%= article.title.html_safe %>
                </div>
                <div class="content">
                  <%= article.body.truncate_words(20).html_safe %>
                </div>
              </article>
            </div>
            <div class="tile is-2 has-text-centered tile-footer">
              <p>Publié.e par
                <%= article.user.username.capitalize %>
              </p>
              <%= link_to fa_icon("plus", text:"Détails", class:"text-muted pull-left"), article_path(article), class:"button is-info" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>

