<section id="articles-banner-index" class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 has-text-centered has-text-grey-darker">TOUS LES ARTICLES</h1>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><%= link_to fa_icon("eye", text:"Mes articles", class:"text-muted pull-left"), root_path %></li></li>
          <li><%= link_to fa_icon("plus-square", text:"Nouveau article", class:"text-muted pull-left"), new_article_path, class: "has-text-grey-darker" %></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    <% @articles.each_slice(4) do |art| %>
    <div class="columns">
      <% art.each do |article| %>
      <div class="column is-one-quarter">
        <div class="card bm--card-equal-height complete_article">

          <div class="card-content">
            <div class="media">
              <div class="media-content has-text-centered">
                <p class="title is-4"><%= article.title.html_safe %></p>
              </div>
            </div>

            <div class="content body_article">
              <%= article.body.truncate_words(40).html_safe %>
            </div>

          </div>

          <div class="card-footer">
            <p class="card-footer-item">Publié(e) par <%= article.user.username.capitalize %></p>
          </div>

          <footer class="card-footer">
            <%= link_to fa_icon("plus", text:"Détails", class:"text-muted pull-left"), article_path(article), class:"card-footer-item button is-info" %>
          </footer>

        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</section>
