<nav class="navbar is-gray" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to image_tag("logokyo.png", height: '100', width: '100', class: "navbar-item logo"), root_path %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Accueil", root_path, class: "navbar-item fucking-list" %>

      <%= link_to "Articles",root_path, class: "navbar-item fucking-list" %>

      <%= link_to "Musiques", posts_path, class: "navbar-item fucking-list" %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>

            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <%= link_to edit_user_registration_path, "aria-haspopup": true, "aria-controls": "dropdown-menu4" do %>
                  <div class="button">
                    <% if current_user.image.blank? %>
                    <% else %>
                      <%= image_tag current_user.image, class: "image is-32x32" %>
                    <%end%>
                    <%= current_user.username.capitalize %>
                  </div>
                <%end%>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <%= link_to "Mon compte", edit_user_registration_path, class: 'button is-light is-fullwidth' %>
                      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "button is-danger is-fullwidth" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          <% else %>
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <%= link_to fa_icon("connectdevelop", text:"Connexion", class:"text-muted pull-left"), new_user_session_path, class: 'button', "aria-haspopup": true, "aria-controls": "dropdown-menu4" %>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    <%= link_to fa_icon("connectdevelop", text:"Connexion", class:"text-muted pull-left"), new_user_session_path, class: 'button is-light is-fullwidth' %>
                    <%= link_to user_facebook_omniauth_authorize_path, class:"button is-info is-fullwidth" do %>
                      <%= fa_icon "facebook-square 2x" , text: "Facebook", class: "text-muted pull-left"%>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            &nbsp;&nbsp;
            <%= link_to fa_icon("user-plus", text:"Inscription", class:"text-muted pull-left"), new_user_registration_path, class: 'button is-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
