<div class="container">
  <div class="column is-8 is-offset-2">
    <%= form_with(model: @post) do |f| %>
    <div class="field">
      <div class="control">
        <%= f.label :post, "Un titre" %>
        <em>(28 caractères maximum)</em>
          <div class="control">
            <%= f.text_field :title, autofocus: true, class: "input is-primary is-large", maxlength: 28 %>
          </div>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.label :post, "Une description ?" %>
          <div class="control">
            <%= f.text_area :content, class: "textarea is-primary is-large", placeholder: "100 caractères maximum", maxlength: 100 %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.label :post, "Lien de la vidéo" %>
          <div class="control">
            <%= f.text_area :link, class: "input is-primary is-large" %>
        </div>
      </div>
    </div>

    <div class="level">
      <div class="level-left">
        <%= f.button fa_icon("share", text:"Partager ma musique",class:"text-muted pull-left"), class:"button is-primary" %>
      </div>
      <div class="level-right">
        <%= link_to fa_icon("undo", text:"Retour aux musiques",class:"text-muted pull-left"), posts_path, class:"button" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
