<section class="hero is-primary is-bold">
  <div class="hero-body has-text-centered">
    <h1 class="title"><%= @post.title %></h1>
    <div class="columns">
<!-- Colonne de droite -->
      <div class="column is-two-thirds">
        <iframe id="ytplayer" type="text/html" width="640" height="360" src="https://www.youtube.com/embed/<%=@post.link%>?autoplay=0" frameborder="0">
        </iframe>

        <div class="section">
          <%= @post.content %>
        </div>
        <% if user_signed_in? && @post.user_id == current_user.id %>
          <%= link_to "Edit", edit_post_path(@post), class:"button" %>
          <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure ?"}, class:"button is-danger" %>
        <% end %>
      </div>
<!-- FIN COLONNE DE DROITE -->
<!-- Colonne de gauche -->
      <div class="column">
        <h2 class="subtitle"> Une autre au hasard ? </h2>
        <% @random_post.each do |rand| %>
          <iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/<%= rand.link%>?autoplay=0" frameborder="0">
          </iframe>
        <% end %>

      </div>
<!-- FIN COLONNE DE GAUCHE -->
    </div>
  </div>
</section>


<section class="section comments">
  <div class="container">
    <h2 class="subtitle is-5"><strong class="button is-rounded"><%= @post.comments.count %> Commentaires</strong></h2>
    <%= render @post.comments %>
    <div class="comment-form">
      <hr />
      <h3 class="subtitle is-4">Laisse ton avis</h3>
      <%= render "comments/form" %>
    </div>
  </div>
</section>
