<section class="section">
  <div class="container">

    <h1 class="title">
      <%= @post.title %>
    </h1>

    <div class="content">
      <%= @post.content %>
    </div>
    <%= link_to "Edit", edit_post_path(@post), class:"button" %>
    <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure ?"}, class:"button is-danger" %>
  </div>
</section>

<section class="section comments">
  <div class="container">
    <h2 class="subtitle is-5"><strong><%= @post.comments.count %> Comments</strong></h2>
    <%= render @post.comments %>
    <div class="comment-form">
      <hr />
      <h3 class="subtitle is-3"> Leave a reply</h3>
      <%= render "comments/form" %>
    </div>
  </div>
</section>
