<!DOCTYPE html>
<html>
  <head>
    <title>Kyodai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#5ce1e6">

    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'shared/flash_messages' if !flash.empty? %>

<!-- Permet de cacher la navbar sur la page d'accueil -->
    <% if @show_navbar -%>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= yield %>

    <%= render "shared/footer" %>

  </body>
</html>
